<h2>Edit {{myInstances.name}}:</h2>

<div class="whiteBackground">
  <img src="{{myInstances.url}}">

  <form action="/{{myInstance.id}}?_method=put" method="post">
    <p>
      <label>Change Name:</label>
      <input type="text" value="{{ myInstances.name }}" name="name"/>
    </p>
    <p>
      <label>Change URL: </label>
      <input type="text" value="{{ myInstances.url }}" name="url"/>
    </p>
    <p>
        <label>Change Description: </label>
        <input type="text" value="{{ myInstances.description }}" name="description"/>
    </p>
    <p>
        <label>Change Topic: </label>
        <input type="text" value="{{ myInstances.topic }}" name="topic"/>
    </p>
    <input type="submit" value="Update" class="icon"/>
  </form>

  <form action="/{{myInstance.id}}?_method=delete" method="post">
    <input type="submit" value="Delete" class="icon">
  </form>
</div>