<div>
    <h1>{{myInstance.title}}</h1>
    <img src="{{myInstance.url}}">
    <h4>Description: {{myInstance.description}}</h4>
    <h5>Date Created: {{myInstance.date}}</h5>

    <div id="icons">
    <form action="/{{myInstance.id}}?_method=delete" method="post">

     <input type="image" src="https://cdn1.iconfinder.com/data/icons/business-office-and-internet-4-1/48/184-512.png" value="Delete" width="20px" height="20px">
    <a href="/edit/{{myInstance.id}}" id="aTag"><img id="icon" src="https://image.flaticon.com/icons/svg/61/61456.svg" id="icon" ></a>


    </div>
</div>